<div class="sidebar-wrapper">
    <div class="logo">
      <a class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="/wolftal-birds-weather-online/logo.png" height="200" />
        </div>
      </a>
      <a class="simple-text logo-normal">
        WolftalBirds Weather Online
      </a>
    </div>
    <ul class="nav">
      <li class="active">
        <a routerLink="Home">
          <p>Home</p>
        </a>
      </li>
  
      <li class="active">
        <a routerLink="spitzfelsen">
          <p>Spitzfelsen</p>
        </a>
      </li>
  
      <li>
        <a>
          <p>Gschasi</p>
        </a>
      </li>
  
      <li>
        <a>
          <p>Oppenau Ost</p>
        </a>
      </li>
      <li>
        <a>
          <p>Zuflucht</p>
        </a>
      </li>
      <li>
        <a>
          <p>Dohlenbacher</p>
        </a>
      </li>
      <li>
        <a>
          <p>Hörnleberg</p>
        </a>
      </li>
    </ul>
  </div>