<p>Fly2Cloud Wetter Spitzfelsen</p>
<div>
    <p>Windgeschwindigkeit</p>
    <img src="https://fly2cloud.de/ws/wsSpitz/diagrams/wind120Day.png" />
</div>
<div>
    <p>Windrichtung</p>
    <img src="https://fly2cloud.de/ws/wsSpitz/diagrams/richtungDay.png" />
</div>
<div>
    <p>Temperatur</p>
    <img src="https://fly2cloud.de/ws/wsSpitz/diagrams/temperaturDay.png" />
</div>
<div>
    <p>Druck</p>
    <img src="https://fly2cloud.de/ws/wsSpitz/diagrams/druckDay.png" />
</div>
<div>
    <p>Feuchtigkeit</p>
    <img src="https://fly2cloud.de/ws/wsSpitz/diagrams/feuchteDay.png" />
</div>


